footer
  .container.text-center
    p.float-left © Eleni, Henry, Nathaniel, Rafaela, Yode, Yuzhe
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/hwa6/marketplace.js') GitHub Project
