extends layout

block content
  h1 Hello, Buyer
  p.lead From here you can buy items.
  .pb-2.mt-2.mb-4.border-bottom
    h2 Listings
  for item in items 
    .mb-2.card
      h5.card-header= item.creatorEmail
      .card-body
        h5.card-title= item.title
        p.card-text= item.body
        button#buy.btn.btn-outline-success(type='button') Buy
  //form(method='DELETE', action='/deleteItem')
      //| Testing delete route:  
      //input(type='text', name='title', value='hello') 
      //input(type = 'submit', value = "Delete item from database with this title.")
      //input(type = 'submit', value = "new")