extends layout

block content
  h1 Default Home
  p.lead Hello New User. Please create an account and assign yourself a role, or log in.
  
  body
    img#dog-image(text-align="center")
    .ui.green.button#random-dish-button
        |   fooooooood!
